.elementor-142 .elementor-element.elementor-element-907c7f2{z-index:1;}.elementor-142 .elementor-element.elementor-element-ab62625:not(.elementor-motion-effects-element-type-background), .elementor-142 .elementor-element.elementor-element-ab62625 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#EDC155;}.elementor-142 .elementor-element.elementor-element-ab62625{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-142 .elementor-element.elementor-element-ab62625 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-widget-divider{--divider-color:var( --e-global-color-secondary );}.elementor-widget-divider .elementor-divider__text{color:var( --e-global-color-secondary );font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-weight:var( --e-global-typography-secondary-font-weight );}.elementor-widget-divider.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon{color:var( --e-global-color-secondary );border-color:var( --e-global-color-secondary );}.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg{fill:var( --e-global-color-secondary );}.elementor-142 .elementor-element.elementor-element-8951ffe{--divider-border-style:solid;--divider-color:#4B1E1E;--divider-border-width:1px;}.elementor-142 .elementor-element.elementor-element-8951ffe .elementor-divider-separator{width:100%;}.elementor-142 .elementor-element.elementor-element-8951ffe .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-142 .elementor-element.elementor-element-7f58048 .elementor-heading-title{font-family:"Brevia", Sans-serif;font-size:20px;font-weight:900;color:#4B1E1E;}.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group > label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-type-html{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-field-group .elementor-field{color:var( --e-global-color-text );}.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .elementor-button{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form .e-form__buttons__wrapper__button-next{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-button[type="submit"]{background-color:var( --e-global-color-accent );}.elementor-widget-form .e-form__buttons__wrapper__button-previous{background-color:var( --e-global-color-accent );}.elementor-widget-form .elementor-message{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-form .e-form__indicators__indicator, .elementor-widget-form .e-form__indicators__indicator__label{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-widget-form{--e-form-steps-indicator-inactive-primary-color:var( --e-global-color-text );--e-form-steps-indicator-active-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-completed-primary-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-color:var( --e-global-color-accent );--e-form-steps-indicator-progress-background-color:var( --e-global-color-text );--e-form-steps-indicator-progress-meter-color:var( --e-global-color-text );}.elementor-widget-form .e-form__indicators__indicator__progress__meter{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-weight:var( --e-global-typography-accent-font-weight );}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group.recaptcha_v3-bottomleft, .elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-type-html{padding-bottom:0px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group .elementor-field{color:#4B1E1E;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group .elementor-field, .elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-subgroup label{font-family:"Brevia", Sans-serif;font-size:16px;font-weight:500;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;border-color:#4B1E1E;border-radius:25px 25px 25px 25px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;border-color:#4B1E1E;border-radius:25px 25px 25px 25px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-field-group .elementor-select-wrapper::before{color:#4B1E1E;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-button{font-family:"Brevia", Sans-serif;font-size:16px;font-weight:900;border-style:solid;border-width:1px 1px 1px 1px;border-radius:25px 25px 25px 25px;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .e-form__buttons__wrapper__button-next{background-color:#E9E5B2;color:#4B1E1E;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-button[type="submit"]{background-color:#E9E5B2;color:#4B1E1E;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-button[type="submit"] svg *{fill:#4B1E1E;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .e-form__buttons__wrapper__button-previous{color:#ffffff;border-color:#4B1E1E;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .e-form__buttons__wrapper__button-next:hover{background-color:#8DAC2B;color:#ffffff;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-button[type="submit"]:hover{background-color:#8DAC2B;color:#ffffff;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-message.elementor-message-success{color:#8DAC2B;}.elementor-142 .elementor-element.elementor-element-b1f9a4b .elementor-message.elementor-message-danger{color:var( --e-global-color-123ae51 );}.elementor-142 .elementor-element.elementor-element-b1f9a4b{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-theme-builder-content-area{height:400px;}.elementor-location-header:before, .elementor-location-footer:before{content:"";display:table;clear:both;}/* Start custom CSS for html, class: .elementor-element-365ca1f */#copyright-link:hover { color: #D64027; }/* End custom CSS */
/* Start JX Custom Fonts CSS *//* End JX Custom Fonts CSS */
/* Start custom CSS */#footer .footer-wrap > .elementor-container {
    max-width: 1280px;
}

#footer {
    padding-top: 150px;
    margin-top: -100px;
    padding-bottom: 40px;
}

#footer ul {
    list-style-type: none;
    padding-inline-start: 0;
}

#footer .fmenu-block {
    width: 500px;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

#footer h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

#footer ul li {
    margin-bottom: 8px;
}

#footer ul li a {
    font-size: 16px;
}

#footer ul li a:hover {
    color: #D64027;
}

#footer input, #footer .elementor-button {
    box-shadow: 3px 3px 0px 0px #4B1E1E;
}

#footer .elementor-form-spinner {
    display: flex;
}

#footer .elementor-form-fields-wrapper {
    position: relative;
    max-width: 420px;
}

#footer .elementor-field-type-submit {
    position: absolute;
    right: 0;
    top: 0;
}

#footer .elementor-button:hover, #footer .elementor-button:focus {
    color: #4B1E1E;
    border: 1px solid #4B1E1E;
}

#footer .fcert-block {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin-left: auto;
}

@media (max-width: 1280px) {
    #footer .footer-wrap > .elementor-container, #footer .footer-copyright-wrap > .elementor-container {
        max-width: 90%;
    }
    #footer h5 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    #footer ul li a {
        font-size: 15px;
    }
    #footer-yoyo {
        width: 300px;
        height: initial;
    }
    #footer h6 {
        font-size: 18px;
    }
    #footer input, #footer .elementor-button {
        font-size: 14px;
    }
    #footer .elementor-form-fields-wrapper {
        max-width: 350px;
    }
    #footer p {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    #footer h5 {
        font-size: 16px;
    }
    #footer ul li a {
        font-size: 14px;
    }
    #footer h6 {
        font-size: 16px;
    }
    #footer input, #footer .elementor-button {
        font-size: 13px;
    }
    #footer .elementor-form-fields-wrapper {
        max-width: 350px;
    }
    #footer input, #footer .elementor-button {
        border-radius: 20px;
    }
    #footer p {
        font-size: 13px;
    }
    #footer .fcert-block img {
        width: 40px;
        height: initial;
    }
}

@media (max-width: 980px) {
    #footer-yoyo {  
        width: 100%;
    }
    #footer .fmenu-block {
        width: 100%;
        margin-left: 50px;
    }
    #footer .footer-copyright-wrap > .elementor-container {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    #footer .footer-copyright-wrap .elementor-col-50 {
        width: 500px;
        margin: 0 auto;
    }
    #footer .elementor-form-fields-wrapper {
        max-width: 100%;
    }
    #footer p {
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
    #footer .fcert-block {
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    #footer {
        padding-top: 100px;
        margin-top: -50px;
    }
}

@media (max-width: 769px) {
    #footer .footer-wrap > .elementor-container .elementor-column {
        width: 100%;
    }
    #footer-yoyo {
        width: 300px;
        margin: 0 auto;
        display: block;
    }
    #footer .fcert-block {
        max-width: 250px;
    }
    #footer .fcert-block img {
        width: 35px;
    }
}

@media (max-width: 600px) {
    #footer {
        padding-bottom: 0;
        padding-top: 40px;
        margin-top: -30px;
    }
    #footer .fmenu-block {
        margin-left: 35px;
    }
    #footer .elementor-field-type-submit {
        position: relative;
    }
    #footer .elementor-form-fields-wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    #footer .footer-copyright-wrap .elementor-col-50 {
        width: 100%;
        margin: 0 auto;
    }
    .fmenu-block {
        margin-left: 25px;
    }
}

@media (max-width: 450px) {
    #footer-yoyo {
        width: 70%;
    }
    #footer .fmenu-block {
        grid-template-columns: 1fr;
        margin: 0 auto;
        text-align: center;
        margin-left: 0;
    }
    #footer p {
        font-size: 11px;
    }
    #footer .fcert-block {
        max-width: 200px;
    }
    #footer .fcert-block img {
        width: 30px;
    }
}

@media (max-width: 400px) {
    #footer h5 {
        font-size: 15px;
    }
    #footer .fmenu-block {
        grid-gap: 40px;
    }
}

@media (max-width: 350px) {
    #footer {
        margin-top: -20px;
    }
}/* End custom CSS */